.item {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.item-content {
    width: 100%;
    max-width: 1300px;
    padding: 40px;
}

.tab {
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.tab-item-recommend {
    font-size: 20px;
    font-weight: bold;
    margin-left: 150px;
    text-decoration: none;
    color: #000000;
}

.tab-item {
    font-size: 20px;
    font-weight: bold;
    color: #ff3636;
    margin-left: 50px;
    text-decoration: none;
}

.item-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 150px;
}

.item-card {
    padding: 30px;
    width: 20%;
    box-sizing: border-box;
}

.item-image img {
    width: 300px;
    height: 300px;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .item-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}