.profile {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.profile-content {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    text-align: center;
}

.profile__title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}

.profile-image {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.profile-image__preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #e0e0e0;
    background-size: cover;
    background-position: center;
}

.profile-image__button {
    background-color: #ffffff;
    border: 1px solid #ff4242;
    color: #ff4242;
    height: 40px;
    display: flex;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.form-label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    text-align: left;
}

.form-input {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #8b8b8b;
    border-radius: 3px;
    font-size: 14px;
}


.form-button {
    margin-top: 30px;
    height: 40px;
    width: 100%;
    background-color: #f04c4c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}



@media screen and (max-width: 850px) {
    .profile-content {
        padding: 30px;
    }

    .profile-title {
        font-size: 20px;
    }
}