.verify {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.verify-content {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    text-align: center;
}

.verify-text {
    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 150;
    font-weight: bold;
    font-size: 16px;
}

.verify-button{
    background-color: #dfdfdf;
    color: black;
    border: solid 1px #000000;
    font-weight: bold;
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 3px;
}

.resend-link {
    margin-top: 50px;
    color: #48ade7;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

@media screen and (max-width: 850px) {
    .verify-content {
        max-width: 360px;
        padding: 30px;
    }
}